
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: #eaf2fd;
}

.profile-title{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0%;
    color: rgb(29, 28, 28);
    margin: 0;
    width: 100%;
}

.profile-description {
    text-align: justify;
}

.profile-parrafo{
    text-align: justify;
}