.experiencetwo{
    padding: 2%;
}
.experiencetwo-caja{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
}
.experiencetwo-description{
    display: flex;
    justify-content: flex-end;
}

.experiencetwo-division{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.experiencetwo-contenedor{
    display: flex;
    flex-direction: column;
}

.experiencetwo-division-img{
    display: flex;
    width: 650px;
    height: 340px;
    padding: 2%;
    border-image-slice: 100%
}

.experiencetwo-imagen{
    width: 0PX;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    padding: .5%;
}

.experiencetwo-imagen:hover{
    box-shadow: 0px 30px 50px -11px #6bc4f0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 450px;
    opacity: 1;
    filter:contrast(100%);
    -webkit-filter:contrast(100%);
    -webkit-transition: border-radius 2s;
}

.experiencetwo-division-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.experiencetwo-button{
    width: 200px;
    height: 50px;
    background: rgba(96, 135, 194, 0.822);
    color: #fff;
    border: none;
} 

.experiencetwo-button:hover{
    background: #6bc4f0;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 20px 30px -11px #6bc4f0;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
} 