.experience{
    padding: 2% 2% 0% 2%;
}
.experience-caja{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
}

.experience-division{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.experience-contenedor{
    display: flex;
    flex-direction: column;
}

.experience-division-img{
    display: flex;
    width: 650px;
    height: 340px;
    padding: 2%;
    border-image-slice: 100%
}

.experience-imagen{
    width: 0PX;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    padding: .5%;
}

.experience-imagen:hover{
    box-shadow: 0px 30px 50px -11px #6bc4f0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 450px;
    opacity: 1;
    filter:contrast(100%);
    -webkit-filter:contrast(100%);
}

.experience-division-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.experience-button{
    width: 200px;
    height: 50px;
    background: rgba(96, 135, 194, 0.822);
    color: #fff;
    border: none;
} 

.experience-button:hover{
    background: #6bc4f0;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 20px 30px -11px #6bc4f0;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
} 

.toggle-button{
  background: rgba(96, 135, 194, 0.822);
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.toggle-button:hover{
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  background: #6bc4f0;
}
